{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>List of Agencies</h1>

    <ul>
    {% for agency in agencies %}
    <li>
        <a href="{{url('contract_index',{ 'agency_slug': agency.slug})}}">
            {{agency}}
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
